@page "/"
@inject IJSRuntime JS
<div>
<!-- Hero Section -->
<HeroComponent></HeroComponent>

<!-- About Section -->
<AboutComponent></AboutComponent>

<!-- Stats -->
<StatsComponent></StatsComponent>

<!-- Services Section -->
<Services></Services>

<!-- Departments Section -->
<Departments></Departments>

<!-- Doctors Section -->
<Doctors></Doctors>

<!-- FAQ Section -->
<FAQs></FAQs>

<!-- Testimonials Section -->
<TestimonialsComponent></TestimonialsComponent>

<!-- Contact Section -->
<ContactComponent></ContactComponent>


</div>


<style>
    .accordion-button:not(.collapsed) { 
        background-color: white;  
    }

    .accordion-button:focus {
        border: 2px solid rgb(25, 119, 204);
        box-shadow: none; 
    }

</style>

@code {

}